body{
  /* font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5; */
 font:15px/1.5 Arial,Helvetica,sans-serif; /*we can write like this in short */
 padding: 0;
 margin:0;
 background-color: lightgray;
 }
/* Gloable button Class */

.button_1{
  height: 33px;
  border:0;
  background-color: #e8491d;
  color: #fff;
  padding: 0 20px 0 20px;

}
.dark{
  padding:15px;
  background-color: #35424a;
  margin-top:10px;
  margin-bottom: 10px;
  color: #ffff;
  border-radius: 20px;

}
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}
/* Header */
header{
  background: #35424a;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
}
header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 16px;
}
/* i do the css direct to the ul
 header ul{
  padding: 0;
  margin: 0;
} */
ul{
  padding: 0;
  margin: 0;

}
header li{
  float: left;
  display:inline;

  padding: 0 20px 0 20px;
}
header #branding{
  float:left;

}
header #breanding h1{
  margin: 0;

}
/* Nav Bar */
header nav{
  float: right;
  /* padding-top: 10px; */
  margin-top: 2rem;
}
  header .highlight,header  .current a{
   color:#e8491d;
   font-weight: bold;
 }

/* header span{
  color:#e8491d;
} */
header a:hover{
  color: #ccc;
  font-weight: bold;
}
/* Showcase */
#showcase{
  min-width: 400px;
  background: url("images/ab.jpg") no-repeat 0 -800px;
   filter: grayscale(80%);

  text-align: center;
  font-weight: bold;
  color: #fff;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20PX;
  margin-bottom: 50px;
}
#newsletter{
  padding: 15px;
  background-color:#35424a;
color: #fff;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 20px;
}
#newsletter input[type="email"]{
  padding: 3px;
  height: 25px;
  width: 250px;
}
/* Boaxes */
#boxes{margin-top: 20px;}
#boxes .box{
  width: 30%;
  float: left;
  padding: 10px;
  text-align: center;
  /* align-items: center; */
}


#boxes .box img{
  width:60%;
border: #e8491d solid 5px;
  border-radius: 100%;

}
#boxes .box img:hover{
  width: 80%;
  filter: grayscale(50%);
  background-color: blue;
  border: yellow solid 5px;
}
/* About Page */
article#main-col{
  width: 65%;
  float:left;
}
aside#sidebar{
  width: 30%;
  float: right;
  margin-top: 10px;
}


/* Services */
#services{
  width: 65%;
  float: left;
}
ul#services li{
  list-style: none;
  margin-bottom: 5px;
  padding: 20px;
  border: #cccccc solid 2px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}
aside#sidebar h1{
  text-align: center;
}

footer{
  padding: 20px;
  color: #ffff;
  background-color: #e8491d;
  text-align: center;
  margin-top: 20px;
}
/*Media  */
@media(max-width:768px) {
header #branding,
header nav,
header nav li,
#newsletter h1,
newsletter form,
#boxes .box,
article#main-col,
aside#sidebar,
#services{
  float: none;
  width: 100%;
  text-align: center;
}
header{
  padding-bottom: 20px;
}
#showcase h1  {
  margin-top: 40px;
}
/* #newsletter button{
  display: block;
  width: 100%;
} */
/* #newsletter form input[type="email"]{
  width: 100%;
  margin-bottom: 10px;

} */
.quote button,
.quote input,
.quote textarea{
  display: block;
  width: 100%;
  align-items:center;

}
